body{
background:#f7f7f7
}
body>header{
position:fixed;
background: #493c32;
color:#fff;
}
body>main{
margin-top:3em;
}
body>main>aside{
margin-top:5px;
background:#fff;
position:fixed;
}
body>main>aside ul{
}
body>main>aside li{
padding-top:calc(1em - 5px);
}
body>main>section{
background:#fff;
margin-left:8em;
padding:0.5em;
}
body>main>section>h2{
width:90%;
margin-bottom:1em;
}
body>main>aside li:hover{
background:#ebebeb;
cursor:default;
}
#galu{
background:#f7f7f7;
display: flex;
flex-flow: wrap;
}
#galu > div{
background:#fff;
margin:0 1em 1em 0;
padding:1em;
}
#galu > div p{
}
.momo{
display:none;
width:100%;
height:100%;
background: rgba(0,0,0,0.6);
position:fixed;
top:0; 
left:0;
display: flex;
min-height: 100vh;
overflow: auto;
}
.momo form{
margin:auto;
width:480px;
}
.momo form div{
background: #fff;
padding:1em;
}
.momo input, .momo button,.momo div{
border-radius:3px;
}
.momo input[type=text],.momo input[type=number]{
border:1px solid #f7f7f7;
}
.momo button{
border:1px solid #ca213f;
background:#fff;
color:#ca213f;
width:120px;
margin:1em;
}
.momo button:last-child{
border:1px solid #ca213f;
background:#ca213f;
color:#fff;
}
.momo input[type=text],.momo input[type=number],.momo button,.momo input[type=radio]{
padding:0.5em;
}
.t1, .t2{
text-align:center;
}
#tampocomehacecaso{
border-radius:3px;
background:#f7f7f7;
padding:1em;
}
.t1 h2{
font-size:12px;
}
.momo div>div:last-child{
display:flex;
justify-content:center;
margin:1em;
}
.marcodos, .marcotres{
margin:1em 0 1em;
}
.marcodos p, .marcotres p{
font-size:12px;
}
.marcodos p+p, .marcotres p+p{
margin-top:1em
}
.marcodos h3, .marcotres h3{
color:#ca213f;
margin-top:1em;
}

.marcotres{
padding:1em;
}
.marcotres h3{
margin-bottom:3em;
}
.t2{
border-top:1px solid black;
border-bottom:1px solid black;
padding:0.5em;
margin:1em;
}

form div>ul{
padding:0;
margin:0;
}
form div>ul li{
padding:0;
margin:0;
list-style:none
}
#id_perfil input[type="text"], #id_perfil input[type="password"], #id_perfil input[type="number"]{
	width:100%;
	border:0;
	font-size:12px;
	
background-position: left center;
/*padding-left: 15px;*/
background-image: url(images/ediP.svg);
background-repeat: no-repeat;
background-size:8px;
}
.marcodos input[type="text"].marcodos input[type="number"]{
	background:#f7f7f7;
}
input + h3{
cursor: alias;
}
input + h3:hover{
text-decoration:underline;
}
textarea + h3:hover{
text-decoration:underline;cursor: alias;
}
#id_perfil div + h3:hover{
text-decoration:underline;cursor: alias;
}
#txtInteres:hover, #txtDes:hover, #txtOcu:hover{
color:red
}

#usuModal figure, #usuModal2 figure{
width:60%;
height:60%;
background:#f7f7f7;
}
#usuModal section:nth-child(2)>p,#usuModal2 section:nth-child(2)>p{
margin:1em 0 1em 0;
}
#usuModal section:nth-child(2)>p>font, #usuModal2 section:nth-child(2)>p>font{
font-size:12px;
}
#usuModal section:nth-child(2)>p:nth-child(2),#usuModal2 section:nth-child(2)>p:nth-child(2){

}
#usuModal section:nth-child(2)>p:nth-child(3),#usuModal2 section:nth-child(2)>p:nth-child(3){
font-size:12px;
}
#usuModal section:nth-child(2)>p:nth-child(4),#usuModal2 section:nth-child(2)>p:nth-child(4){
text-align:center;
border-top:1px solid #000;
border-bottom:1px solid #000;
padding:0.3em;
}
#usuModal figure,#usuModal2 figure{
width:100%;
height:100%;
display:flex;
justify-content:center;
}
#usuModal figure>img,#usuModal2 figure>img{
width:30%;
height:30%;
}
#id_perfil textarea{
height:16px;
border: 0;
font:menu;
width:100%;
}
#id_perfil textarea:hover{
height:90px;
}
#txtInteres{
background:#f7f7f7;
}
#galu img{
width:120px;
}
#usuModal p:hover, #usuModal font:hover,#usuModal2 p:hover, #usuModal2 font:hover{
color:#ca213f;
font-weight:bold;
}
#usuModal p+div,#usuModal2 p+div{
display:flex;
justify-content:center;
}
#usuModal p+div>button,#usuModal2 p+div>button{
width:100%;
}
#invi li>img{
width:60px;
height:60px;
}
#invi li{
list-style:none;
display:flex;
flex-flow:wrap;
}
#invi ul{
padding:0;
}
#invi li h3{
font:menu;
margin-left:9px;
}
#invi>div>nav>li{
display:inline;
margin-right:3em;
}
#invi #match img{
width:36px;
height:30px;
}
#invi #meGustan img{
width:18px;
height:30px;
}
#invi #titu{
font:menu;
margin-bottom:1em;
color:red;
font-style:italic;
}

#invi #listaMatch li, #invi #listaMeGustan li{
margin-bottom:0.6em;
}
#usuModal2 div textarea{
width:calc(100% - 2em);
font:menu;
padding:1em;
}
#usuModal2 div div{
display:flex;
justify-content:center;
}
.galmsj{
width:150px;
}
.galmsj p:nth-child(2){
font-size:12px;
}
.galmsj p:nth-child(3){
font-style: italic;
font-size:12px;
}
.galmsj p:nth-child(4){
font-size:12px;
text-align: right;
}
.galmsj p:nth-child(2),.galmsj p:nth-child(3),.galmsj p:nth-child(4){
margin-bottom:1em;
}
main section select{
border:1px solid #cccccc;
border-radius:0.3em;
width:100%;
}
a, header a{
font-style:none;
text-decoration:none;
}
header a{
color: #fff;
}
#id_perfil a{
color: #ca213f
}
header li img{
width:15px;
height:100%;
}
.configcuenta + div form input{
background:#f7f7f7;
padding:1em;
border-radius:0.3em;
margin:6px 0 6px 0;
}
form button{
border:1px solid #ca213f;
background:#ca213f;
color:#fff;
padding:0.5em;
margin:6px 0 6px 0;
}
body>main>aside li a{
color:#000;
}
span{
color:red;
display:block;
}
.momo select{
padding:3px;
border:1px solid #f7f7f7;
}